<div id="container">
  <div class="land-1" id="land-1">
    <div class="land-1-header">
      <div class="header-brand" id="header-brand">
        <img src="assets/images/logo-img.svg">
      </div>
      <div class="header-button">
        <button routerLink="/feed"><p>Log in now</p></button>
      </div>
    </div>
    <h1>The Home of Dentistry</h1>
    <p>Denteez was created by dentists to make life easier <br>
      for everyone in the world of dentistry.</p>
  </div>

  <div class="land-2" id="land-2">
    <div class="d-flex" id="body">
      <p>Fields marked '*' are required</p>
      <form>
        <div id="body-top">
          <div class="form-group">
            <label for="enquiry_type">Enquiry type *</label>
            <select class="form-control" id="enquiry_type" name="enquiry_type" [(ngModel)]="currentType">
              <option *ngFor="let type of enquiry_types">
                {{ type.name }}
              </option>
            </select>
            <input type="other"
                      class="form-control"
                      id="inputOther"
                      placeholder="Other"
                      *ngIf="currentType === 'Other'">
          </div>
        </div>

        <div id="body-center">
          <div class="form-group" id="first-name">
            <label for="InputName">Name *</label>
            <input type="first-name"
                    class="form-control"
                    id="InputName"
                    placeholder="Dentist">
          </div>
          <div class="form-group" id="email">
            <label for="InputEmail">Email *</label>
            <input type="email"
                   class="form-control"
                   id="InputEmail"
                   placeholder="rachelm@gmail.com">
          </div>
        </div>

        <div id="body-bottom">
          <div class="form-group" id="subject">
            <label for="InputSubject">Subject *</label>
            <input type="subject"
                   class="form-control"
                   id="InputSubject">
          </div>
          <div class="form-group" id="description">
            <label for="inputDescription">
              <span>Description *</span>
              <span>(0/1000)</span>
            </label>
            <textarea type="description"
                      class="form-control"
                      id="inputDescription"></textarea>
          </div>

          <div class="add-image">
            <div id="text-add-img">
              <span>Add photo</span>
            </div>
            <div id="chose-file-text">
              <span>Minimum size of</span>
              <br>
              <span>300x300</span>
              <span>jpeg ipg</span>
              <br>
              <span>png</span>
              <span>5 MB</span>
            </div>

          </div>
        </div>

      </form>
    </div>

    <div class="bottom">
      <button type="submit" class="btn btn-success" routerLink="/feed">Sign up now</button>
    </div>

  </div>


  <div class="container-fluid" id="land-3">
    <h1>About Denteez</h1>
    <div id="land-3-text">
      <p id="left-text">
        Why is it always so hard to find what you’re looking for in dentistry?
        Maybe you want to explore the latest technology or techniques.
        Maybe you need help getting to grips with the dizzying number of products on the market today.
        Or maybe you just want to read a detailed, trustworthy review of a specific product.
        You might be looking for an equipment repair provider, or a new member of staff.
        And of course, you might be looking for a new opportunity yourself.
      </p>
      <p id="right-text">
        Or you might just want to link up with new friends and colleagues in dentistry around the world,
        hear their ideas, and share your own. Denteez gives dental professionals everything they need,
        quickly and easily, all in one place. Wherever you are, and whatever you do,
        Denteez is your one-stop shop for networking, recruiting, training, events, new products, industry news,
        and more. Our mission is simple: to make life easier for everyone in the world of dentistry.
      </p>
    </div>
  </div>

  <div class="d-flex" id="footer">
    <div id="pull-left">
      Denteez copyright 2017
    </div>
    <div class="d-flex" id="pull-right">
      <p>Support</p>
      <p>Privacy Policy</p>
      <p>Terms of Use</p>
    </div>
  </div>

</div>
